.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}



.slide-appear {
  opacity    : 0;
  transition : opacity .7s ease-in;
}

.slide-appear.slide-appear-active {
  opacity : 1;
}


.slide-enter {
  max-height : 0;
  transition : all .3s ease-in;
}

.slide-enter.slide-enter-active {
  max-height : 1000px;
}


.slide-leave {
  max-height : 1000px;
  transition : all .3s ease-out;
}

.slide-leave.slide-leave-active {
  max-height : 0;
}

.post-item {
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  &.postItem {
    &-enter {
      animation-name: growHeight, fadeIn;
    }
    &-leave {
      animation-name: fall, fadeOut;
    }
  }
  .remove-post {
    opacity: 0;
    transform: scale(0.5);
    transition: all 150ms ease-out;
  }
  &:hover .remove-post {
    opacity: 1;
    transform: scale(1);
  }
}
